{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="orderTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="orderTableBody">
            {% include 'frontend/order_table_rows.html' %}
            </tbody>
        </table>
    </div>

        <div class="justify-content-end">
            <form hx-get="{% url 'front_end_main_view' %}"
                  hx-target="#orderTable"
                  hx-swap="innerHTML">
                {% csrf_token %}
                <label>
                    <input type="text" name="page_size" placeholder="{{ page_size }}" required>
                </label>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filteringDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Filtering Status
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                    <button class="dropdown-item" type="button"
                            hx-get="{% url 'front_end_main_view' %}?page=1&page_size=3&status=pending"
                            hx-target="#orderTable"
                            hx-swap="innerHTML">Pending</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button"
                            hx-get="{% url 'front_end_main_view' %}?page=1&page_size=3&status=completed"
                            hx-target="#orderTable"
                            hx-swap="innerHTML">Completed</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button"
                            hx-get="{% url 'front_end_main_view' %}?page=1&page_size=3&status=cancelled"
                            hx-target="#orderTable"
                            hx-swap="innerHTML">Cancelled</button>
                </li>
            </ul>
        </div>
        <!-- Next and previus btns -->
        <div class="pagination-controls">
            {% if prev_page %}
                <button hx-get="{% url 'front_end_main_view' %}?page={{ page_number|add:-1 }}&page_size={{ page_size }}&status={{ filtering_status }}"
                        hx-target="#orderTable"
                        hx-swap="innerHTML"
                        class="btn btn-primary">
                    Previous
                </button>
            {% endif %}
            {% if next_page %}
                <button hx-get="{% url 'front_end_main_view' %}?page={{ page_number|add:1 }}&page_size={{ page_size }}&status={{ filtering_status }}"
                        hx-target="#orderTable"
                        hx-swap="innerHTML"
                        class="btn btn-primary">
                    Next
                </button>
            {% endif %}
        </div>
{% endblock %}
